/* FIN DE COLORES */
-moz-::selection {
  background: #e0e0e0;
  color: #fff;
}
::selection {
  background: #e0e0e0;
  color: #fff;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?3fhvt6");
  src: url("../fonts/icomoon.eot?#iefix3fhvt6") format('embedded-opentype'), url("../fonts/icomoon.woff?3fhvt6") format('woff'), url("../fonts/icomoon.ttf?3fhvt6") format('truetype'), url("../fonts/icomoon.svg?3fhvt6#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-check:before {
  content: "\f03a";
  color: #7de85e;
  font-size: 1.15em;
}
.icon-mark-github:before {
  content: "\f00a";
  font-size: 2em;
}
.icon-quill:before {
  content: "\e907";
  font-size: 3em;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}
body {
  color: #606060;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
footer {
  background: #2ba8f7;
  color: #fff;
  height: 200px;
  overflow: hidden;
}
form {
  background: #424242;
  color: #fff;
  margin: 2em auto;
  max-width: 600px;
  padding: 2em;
}
li {
  list-style: none;
}
nav {
  padding-top: 0;
  margin-top: 0;
}
ul {
  padding: 0;
}
/* FIN DE TAGS HTML */
.article-footer {
  text-align: center;
  width: 100%;
}
.article-webs {
  text-align: center;
}
.avatar {
  border: 2px solid #fff;
  border-radius: 100%;
  height: 180px;
  width: 180px;
}
.avatar,
.textos-header,
.blog {
  display: inline-block;
  vertical-align: middle;
}
.blanco {
  color: #fff;
}
.blanco:hover {
  oolor: #000;
}
.blog {
  color: #fff;
}
.contador {
  color: #fff;
}
.conocimientos {
  background-color: #fff;
  border-top: 5px solid #2ba8f7;
  margin: 3em 0;
  padding: 1em;
  width: 23%;
}
.cursos {
  background: #acf0ff;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.font-light {
  font-weight: 300;
}
.footer-subHeader {
  color: #fff;
  display: inline-block;
  margin-bottom: 3em;
  text-align: center;
}
.habilidades {
  background: #acf0ff;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.header {
  background: #2ba8f7;
  color: #fff;
  height: auto;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.header-article-webs {
  margin-top: 2em;
}
.header-educacion {
  text-align: center;
  padding-bottom: 1.5em;
}
.header-Description {
  font-weight: 400;
  line-height: 1.6em;
}
.header-footer {
  padding-top: 1.8em;
  text-align: center;
}
.header-footer:after {
  content: " -";
}
.header-footer:before {
  content: "- ";
}
.header-habilidades {
  border-bottom: 1px solid #a9a9a9;
  font-weight: 400;
}
.header-yo:before {
  content: "{ ";
  color: #ffcb1f;
  font-size: 1.1em;
}
.header-yo:after {
  content: " }";
  color: #ffcb1f;
  font-size: 1.1em;
}
.input {
  border: none;
  border-radius: 6px;
  display: inline-block;
  height: 50px;
  font-family: 'Roboto';
  font-size: 1.2em;
  margin-top: 1.5em;
  outline: 0;
  width: 90%;
}
.email {
  display: none;
}
.juegos {
  background: #ffcb1f;
  border-bottom: 3px solid #2f4f4f;
  border-radius: 5px;
  color: #000;
  font-size: 18px;
  margin: 1em auto;
  padding: 0.5em;
  max-width: 150px;
}
.juegos:hover {
  font-size: 16px;
  height: -10%;
}
.lista {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  word-spacing: 3em;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
display
}
.lista-itemUno {
  padding-right: 9em;
}
.lista-menu {
  display: inline-block;
  height: 40px;
  padding-top: 0.6em;
  width: auto;
}
.mensaje {
  border: none;
  border-radius: 6px;
  font-family: 'Roboto';
  font-size: 1.2em;
  margin-top: 1.5em;
  outline: 0;
  width: 90%;
}
.menu-fijo {
  background: #2ba8f7;
  color: #fff;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.menu-fijo > .lista-menu {
  color: #fff;
}
.nav {
  background: #fff;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}
.parrafo-none {
  display: none;
}
.header-plugin {
  margin-top: 2em;
}
.range {
  width: 75%;
}
.redes {
  text-align: center;
}
.submit {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  height: 30px;
  font-size: 18px;
  font-family: 'Roboto';
  outline: 0;
  background: #fff;
}
.text-habilidades {
  border-radius: 6px;
  background: #e0e0e0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.4em;
}
.textos-header {
  width: 50%;
  text-align: left;
  margin-left: 1cm;
}
.trabajo {
  background-color: #fff;
  border-top: 5px solid #2ba8f7;
  margin: 3em 3em;
  padding: 1em;
  width: 23%;
}
.que-hice {
  margin-top: 2em;
  text-align: center;
}
.web {
  border: 1px solid #a9a9a9;
  box-shadow: 3px 3px 3px #a9a9a9;
  height: 250px;
  width: 400px;
}
@media screen and (max-width: 1600px) {
  .conocimientos,
  .trabajo {
    width: 32%;
  }
}
@media screen and (max-width: 1400px) {
  .conocimientos,
  .trabajo {
    width: 32%;
  }
  .textos-header {
    margin-left: 2em;
  }
}
@media screen and (max-width: 1100px) {
  .avatar,
  .blog {
    vertical-align: middle;
  }
  .avatar,
  .textos-header {
    vertical-align: top;
  }
  .header-yo {
    margin-top: -0.1em;
  }
  .lista-itemUno {
    padding-right: 5em;
  }
}
@media screen and (max-width: 890px) {
  .habilidades {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  .cursos {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .conocimientos {
    width: 90%;
  }
  .trabajo {
    width: 90%;
    margin: 0 0 2em 0;
  }
  .header {
    height: auto;
  }
  .lista {
    word-spacing: 2em;
  }
  .lista-itemUno {
    padding-right: 0;
  }
}
@media screen and (max-width: 660px) {
  .lista {
    font-size: 0.9em;
    word-spacing: 0.4em;
  }
  .textos-header {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
}
@media screen and (max-width: 555px) {
  .lista {
    word-spacing: 0.1em;
  }
}
@media screen and (max-width: 490px) {
  form {
    margin-bottom: 0;
  }
  .conocimientos {
    width: 95%;
  }
  .input {
    width: 86%;
  }
  .lista {
    font-size: 0.9em;
    margin: 0;
    padding: 0.3em 0;
  }
  .mensaje {
    width: 86%;
  }
  .nav {
    height: 30px;
  }
  .trabajo {
    width: 95%;
    margin: 0 0 2em 0;
  }
  .textos-header {
    padding-bottom: 0.3em;
  }
  .web {
    width: 93%;
    height: 130px;
  }
}
@media screen and (max-width: 355px) {
  .last-juegos {
    display: block;
  }
}
